<!doctype html>
<html>
    <head>
        <title>Hello Card</title>
    </head>
    <body>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for message in messages %}
                        {{ message[1] }}
                    {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form action="" method="post">
            {{ form.csrf }}
 
            <div class="input text">
                {{ form.name.label }} {{ form.name }}
            </div>
            
            <div class="input text">
                {{ form.dept.label }} {{ form.dept }}
            </div>
            
            <div class="input text">
                {{ form.account.label }} {{ form.account }}
            </div>
            
            <div class="input text">
                {{ form.position.label }} {{ form.position }}
            </div>          
            
            <div class="input text">
                {{ form.other.label }} {{ form.other }}
            </div>
 
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>
